body {
    margin-top: 0px;
    margin-left: 0px;
}

.contenedor-padre{
    width: 1300px;
    height: 580px;
    

}

.contenedor-padre img {
    width: 1365px;
    height: 1000px;
    position: absolute;
    display: inline-block;
    
}


.logo img{
    width: 120px;
    height: 70px;
    position: absolute;
}

.caja{
    position: absolute;
    top: 30px;
    left: 60px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.menus, ul, li{
    display: inline-block;
          
}

li{
    top: 30px;
    left: 80px;
    bottom: 40px;
    margin: 5px;
    border: 100px;
    color: blue;
    
}

.generos{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 400px;
    left: 9rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
              
}

li{
    top: 40px;
    left: 30px;
    bottom: 40px;
    margin: 15px;
    border: 100px;

}


.h1{
    position: absolute;
    width: 30px;
    height: 100px;
    color: white;
    display: inline-block;
    left: 150px;
}


.tira1 img{
    width: 1200px;
    height: 150px;
    position: absolute;
    display: inline-block;
    margin: 0px;
    top: 450px;
    left: 130px;
}

.tira2 img{
    width: 1200px;
    height: 150px;
    position: absolute;
    display: inline-block;
    margin: 200px;
    top: 460px;
    left: -70px;
    
}

.tira3 img{
    width: 1200px;
    height: 150px;
    position: absolute;
    display: inline-block;
    margin: 400px;
    top: 470px;
    left: -270px;
}

.titulo{
    position: absolute;
    width: 299px;
    height: 150px;
    top: 150px;
    left: 8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: white;

}
    

