body {
    margin: 0px;
    
    }

.contenedor-padre{
    width: 1350px;
    height: 700px;
    /* margin: auto; */
    background-color: black;
    
}


.logo img{
    position: absolute;
    width: 120px;
    height: 70px;
    top: 5px;
        
}

.principal{
    position: absolute;
    top: 190px;
    left: 410px;
    width: 500px;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
        
    
}

.imagenes{
    position: absolute;
    width: 690px;
    height: 140px;
    background-color: black;
    top: 300px;
    left: 300px;
}

.imagen1{
    width: 120px;
    height: 120px;    
    display: inline-block;
    margin: 5px;
}

p.negrita{
    color: white;
    font-size: 30px;
    text-align: center;
}



input{
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    display: inline-block;
    top: 570px;
    left: 550px;
    color: gray;
    background-color: black;
            
    }